.h1-header{
    font-size: 1.6rem;
    margin-bottom: 10px;  
}
.logo-holder {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.logo-img {
    display: inline-block;
    width: 135px;
}

.form-input-holder {
    margin-bottom: 5px;
}

.login-form-list .form-input-holder .item-inner {
    margin-left: 0px;
}
