<ion-content class="dark-bg white-text ion-padding">
	<div class='logo-holder'>
		<img class='logo-img' src='../../assets/imgs/logo.png' alt="Logo" />
	</div>
	<p class='h1-header'>
		Reset Password
	</p>
	<p class="msg-lighter grey-text mobile-reg-desc">
	Enter OTP received on your mobile number, and enter your new password.
	</p>
	<div class='full-content login-form-wrapper'>
		<form [formGroup]="FrmResetPwd" (ngSubmit)="onSubmit(FrmResetPwd.value)" class="ion-text-center">
            <ion-list class='form-list login-form-list'>
                <ion-item class="form-input-holder mobile-input-holder">
                    <ion-input type="text" placeholder="OTP" [(ngModel)]="model.otp" formControlName="TxtOTP"
                        class='mobile-input'></ion-input>
                </ion-item>
                <div class="err-msg" *ngIf="FrmResetPwd.controls.TxtOTP.hasError('required') && submitted">Enter OTP</div>
                <div class="err-msg" *ngIf="mismatch && submitted">OTP does not match</div>
            	<ion-item class="form-input-holder mobile-input-holder">
					<ion-input type="password" formControlName="TxtPassword" [(ngModel)]="model.password"
						class="mobile-input" name="TxtPassword" id="TxtPassword" value="" required autocomplete="off"
						placeholder='Password' (keyup)='submitted=false'></ion-input>
				</ion-item>
				<div class="err-msg" *ngIf="(FrmResetPwd.controls.TxtPassword.hasError('required') && submitted)">Password is Mandatory</div>
				<ion-item class="form-input-holder mobile-input-holder">
					<ion-input type="password" formControlName="TxtConfPassword" [(ngModel)]="model.confpassword"
					class="mobile-input" name="TxtConfPassword" id="TxtConfPassword" value="" required autocomplete="off"
					placeholder='Confirm Password' (keyup)='submitted=false'></ion-input>
				</ion-item>
				<div class="err-msg" *ngIf="((FrmResetPwd.controls.TxtPassword.value != FrmResetPwd.controls.TxtConfPassword.value) && submitted)">Confirm Password does not match</div>
				<div class="err-msg" *ngIf="(FrmResetPwd.controls.TxtConfPassword.hasError('required') && submitted)">Confirm Password is Mandatory</div>			
            </ion-list>
			<ion-button type="submit" (click)='submitted=true;' expand='full' class='btn-submit'>Submit</ion-button>
		</form>
	</div>
</ion-content>