
  .toolbar-background-md {
    border-color: none;
    background: transparent;
  }

  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
  .toolbar-title-md {
    color: #065efe;
  }
  .reg-mobile-header {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .mobile-reg-desc {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size:1rem;
  }

  .item ion-icon[item-left].mobile-icon {
    position: absolute;
    top: 15px;
    left: 9px;
    margin: 0;
    font-size: 2rem;
    color: #065efe;
  }
  .mobile-select {
    font-size: 1.4rem;
    color: #222222;
    padding:8px;
    margin-top:1px;
  }

  .mobile-select.select-md {
    padding: 13px 8px 13px 25px;
  }

  .mobile-input-holder{
    background: #ffffff !important;
    --background:#ffffff;
    color:#222222;
    margin-bottom:10px;
  }
  
  .mobile-input{
    border-bottom:0;
  }

  .login-form-list .form-input-holder .item-inner {
    margin-left: 0px;
  }

  .h1-header {
    color: #FFFFFF;
  }

  .form-input-holder {
    margin-bottom: 1rem;
    background-color: transparent;
  }
  .login-text {
    width: 100%;
    display: inline-block;
    margin-top: 25px;
    text-align: center;
  }

  .login-text strong {
    color: #065efe;
  }

  .link-text{
    color: #065efe;
  }


.login-form-list .form-input-holder .item-inner {
  margin-left: 0px;
}

.logo-holder {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.logo-img {
  display: inline-block;
  width: 135px;
}

.privacy-text{
  font-size:1rem;
} 