<ion-header>
  <ion-toolbar class='transparent-navbar white-text'>
	<ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="dark-bg ion-padding profile-content">
  Itslets is a digital plaform that connects activites and the people conducting the activities

<br/><br/><strong>CONNECT WITH A HOBBY</strong>
<br/>Having A Hobby Is A Great Way To Spend Your Spare Time And Unwind From Your Daily Routine - Whether This Be Something Artistic, Learning Or Playing An Instrument, Reading, Photography Or Taking Part In A Particular Sport. Spending Time On Activities That You Enjoy Can Help Improve Your Mental Health And Wellbeing. Research Shows That People With Hobbies Are Less Likely To Suffer From Low Moods, Stress And Depression.

<br/><br/><strong>NO CHATTING</strong>
<br/>Why Waste Time Chatting, Meet And Deiced Do You Want To Continue Chatting On Other Platforms. No Exchange Of Personal Information

<br/><br/><strong>SEXUAL INNUENDOES KEY WORDS</strong>
<br/>Humans Being Humans, Sometimes Can Be Obnoxious, On Certain Pertaining Words 'Lets" CANNOT Be Exercised

<br/><br/><strong>DELETE POST CONNECTION</strong>
<br/>Clear Connections post meeting on both devices. Personal choice to share information to reconnect again. No to Cyber bullying

<br/><br/><strong>PERSONAL INFORMATION</strong>
<br/>It is totally your choice to share personal phone numbers to continue on other platforms to communicate. We keep things simple.

<br/><br/><strong>NO GHOSTING</strong>
<br/>Ghosting is a colloquial term used to describe the practice of ceasing all communication and contact with a partner, friend, or similar individual without any apparent warning or justification and subsequently ignoring any attempts to reach out or communication made by said partner, friend, or individual.
</ion-content>
