.login-bg {
    background-color: #f1efef;
}
.h1-header {
    color: #065efe;
}

.reg-otp-header {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 10px;
}

.reg-otp-desc {
    margin-top: 25px;
    margin-bottom: 25px;
}

.login-form-list {
    .form-input-holder {
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    }
}
.login-form-list .form-input-holder .item-inner {
    margin-left: 0px;
}
  
  