.transparent-navbar{
    background:#065efe;
}
.password-form-wrapper{
    margin-top:55px;
}
.msg-changepassword{
    margin-bottom:15px;
}
.login-form-list {
    .form-input-holder {
        background-color: #ffffff;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
}
.login-form-list .form-input-holder .item-inner {
    margin-left: 0px;
}
