<ion-header>
	<ion-toolbar class="transparent-navbar white-text">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Change Password</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="dark-bg white-text ion-padding">
	<div class='full-content password-form-wrapper'>
    <p class="msg-lighter grey-text msg-changepassword">
      Update your password by re-entering your old password
    </p>
		<form [formGroup]="FrmChangePwd" (ngSubmit)="onSubmit(FrmChangePwd.value)" class="ion-text-center">
      <ion-list class='form-list'>
        <ion-item class="form-input-holder">
          <ion-input type="password" [(ngModel)]="model.password" formControlName="TxtPassword"
          class='dark-input' name="TxtPassword" id="TxtPassword" value="" required autocomplete="off"
          placeholder='Old Password' (keyup)='submitted=false'></ion-input>
        </ion-item>
        <div class="err-msg" *ngIf="(FrmChangePwd.controls.TxtPassword.hasError('required') && submitted)">Password is Mandatory</div>
        <div class="err-msg" *ngIf="(mismatch && submitted)">Old Password did not match</div>
        <ion-item class="form-input-holder">
          <ion-input type="password" formControlName="TxtNewPassword" [(ngModel)]="model.newpassword"
          class="dark-input" name="TxtNewPassword" id="TxtNewPassword" value="" required autocomplete="off"
          placeholder='New Password' (keyup)='submitted=false'></ion-input>
        </ion-item>
        <div class="err-msg" *ngIf="(FrmChangePwd.controls.TxtNewPassword.hasError('required') && submitted)">New Password is Mandatory</div>
        
        <ion-item class="form-input-holder">
          <ion-input type="password" formControlName="TxtConfPassword" [(ngModel)]="model.confpassword"
          class="dark-input" name="TxtConfPassword" id="TxtConfPassword" value="" required autocomplete="off"
          placeholder='Re-Type Password' (keyup)='submitted=false'></ion-input>
        </ion-item>
        <div class="err-msg" *ngIf="((FrmChangePwd.controls.TxtNewPassword.value != FrmChangePwd.controls.TxtConfPassword.value) && submitted)">Re-Type Password does not match</div>
        <div class="err-msg" *ngIf="(FrmChangePwd.controls.TxtConfPassword.hasError('required') && submitted)">Confirm Password is Mandatory</div>			
      </ion-list>
			<ion-button type="submit" (click)='submitted=true;' expand="block" class='btn-submit'>Submit</ion-button>
		</form>
	</div>
</ion-content>
