.tags-form{
    margin-top: 56px;
  }

.tags-form .item-md.item-block .item-inner{
    border-bottom: none;
}

.tags-form .item-md{
    padding-left: 0px;
    background-color: transparent;
    color: #FFF;
}

.tags-form .item.item-md .checkbox-md {
    margin: 9px 15px 9px 4px;
}