<ion-content class="dark-bg white-text ion-padding">
	<div class='logo-holder'>
		<img class='logo-img' src='../../assets/imgs/logo.png' alt="Logo" />
	</div>
	<p class='h1-header'>
		Forgot Password
	</p>
	<p class="msg-lighter grey-text mobile-reg-desc">
	Enter your mobile number to update your password.
	</p>
	<div class='full-content login-form-wrapper'>
		<form [formGroup]="FrmForgotOTP" (ngSubmit)="onSubmit(FrmForgotOTP.value)" class="ion-text-center">
			<ion-list class='form-list login-form-list'>
				<ion-item class="form-input-holder mobile-input-holder">
					<!-- <ion-icon name="call" item-left class="mobile-icon"></ion-icon> -->
					<ion-select [(ngModel)]="model.country_phone_code" (ionChange)="getCountryVal()"
						interface="action-sheet" class="mobile-select" name="DdlCountry" id="DdlCountry"
						formControlName="DdlCountry" [selectedText]="model.country_phone_code">
						<ng-template ngFor let-country [ngForOf]="countries">
							<ion-select-option value="+{{country.country_phone_code}}" *ngIf="country.country_phone_code!=''">
								+{{country.country_phone_code}} {{country.country_name}}
							</ion-select-option>
						</ng-template>
					</ion-select>
					<ion-input type="number" formControlName="TxtLogMobile" [(ngModel)]="model.mobile"
						class="mobile-input" name="TxtLogMobile" id="TxtLogMobile" value="" required autocomplete="off"
						placeholder='Mobile*' (keyup)='mobRegFlag=false;'></ion-input>
				</ion-item>				
				<div class="err-msg"
					*ngIf="(FrmForgotOTP.controls.TxtLogMobile.hasError('required') || FrmForgotOTP.controls.TxtLogMobile.hasError('pattern')) && submitted">
					Enter a valid mobile number(<span
						*ngIf="model.min_mobile==model.max_mobile">{{model.min_mobile}}</span><span
						*ngIf="model.min_mobile!=model.max_mobile">{{model.min_mobile}} -
						{{model.max_mobile}}</span> Digits)!
				</div>
				<div class="err-msg" *ngIf="mobRegFlag && submitted">Mobile number not registered with us!</div>
			</ion-list>
			<ion-button type="submit" (click)='submitted=true;' expand='full' class='btn-submit'>Continue</ion-button>
		</form>
	</div>
	<p class="msg-lighter grey-text login-text" tappable (click)='goToLogin()'>
		Already registered. <strong>Login here</strong>
	</p>
</ion-content>