.profile-img-holder{
    width: 100%;
    height: 200px;
    border: solid 2px #999;
    text-align: center;
    background-color: #EEE;
}

.profile-img{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}